<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-redevour="{{devour}}">
		{{#if devour}}DEVOUR!{{else}}RE ORDER!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
